// Icon css

.modal__arrowIcon{
    color: gray;
    font-size: 1rem !important;
}
.modal__languageIcon{
    font-size: 1rem !important;
    margin-right: 18px;
    opacity: .6;
}
.navClose__icon{
    left:390px;
    top: 15px;
    font-size: 2rem !important;
    position: fixed;
    color: white;
    cursor: pointer;
}