
.signUp__icon-visibility{
    position: absolute;
    margin-left: -30px;
    margin-top: 4px;
    opacity: 0.5;
    
}
.signUp_viIcon{
    font-size: 1.3rem !important;
    cursor: pointer;
}
.signUp_notViIcon{
    font-size: 1.3rem !important;
    cursor: pointer;
}
.signUp__icon-offvisibility{
    position: absolute;
    margin-left: -30px;
    margin-top: 4px;
    opacity: 0.5;
    
}